<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v8" />
  </startup>
  <connectionStrings>
    <!-- Если сервер на экзамене другой, меняется только эта строка. -->
    <add name="ExamDb"
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DemoExam2027;Integrated Security=True;TrustServerCertificate=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
